/*STYLESHEET FOR LANDING PAGE 2 PROJECT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAFAFA;
    font-family: 'Work Sans', sans-serif;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    color: #000083;
    background-color: #FDCC0C;
}
header {
    height: 80px;
    display: flex;
    background-color: #FDCC0C;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
header ul {
    display: flex;
    list-style-type: none;
}
header li {
    background-color: #FDCC0C;

}
ul li a {
    background-color: #FDCC0C;
    color: #000083;
    text-decoration: none;
    padding: 0 20px;
    display: inline-block;
    font-weight: bolder;

}

/*NAV LINKS HOVER EFFECTS*/
li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #000083;
    transition: all .5s;
}

li a:hover::after {
    width: 100%;
}

/*HERO SECTION*/
.hero {
    border: 2px solid black;
    width: 100%;
    height: 800px;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hero-left {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.hero-left h1 {
    font-family: 'Coiny', cursive;
    font-size: 100px;
    color: #006B3D;
    line-height: 0.8;
}
.hero-left h2 {
    color: #000083;
    font-size: 1.5rem;
}
.hero img {
    border-radius: 50px;
    width: 500px;
    flex: 0 1 auto;
    overflow: auto;
}

/*ABOUT SECTION*/
.about {
    border: 2px solid blue;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-flow: row wrap;
}
.about-text {
    display: flex;
    flex-direction: column; /*header and p stack vertical*/
}
.about h2 {
    color: #af2413;
    font-size: 3rem;
}
.about p {
    max-width: 400px;
}

/*ABOUT SECTION: IMAGE CAROUSEL*/
.slide-vp {
    max-width: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column; /*aligns slide and bullets vertically*/
    justify-content: center;
    align-content: center;
}
.slides {
    display: flex; /*slide images are horizontally aligned inside viewport*/
    overflow-x: auto;
    border-radius: 50px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 400px;
    height: 500px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
}
.slides img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide-links {
    padding-top: 10px;
    background-color: #fafafa;
    text-align: center;
}
.slide-links > a {
    display: inline-flex;
    width: 15px;
    height: 15px;
    background: #FDCC0C;
    text-decoration: none;
    border-radius: 50%;
}
.slide-links a:hover {
    color: #FDCC0C;
    background-color: #af2413;
}

/*WORK PROJECTS SECTION*/
.work {
    border: 2px solid #006B3D;
    display: flex;
    height: 500px;
    padding: 2vw;
    align-items: center;
    flex-flow: column wrap;
    
}

.work h2 {
    color: #000083;
    font-size: 3rem;
}

/*CONTACT SECTION*/
.contact {
    border: 2px solid #af2413;
    display: flex;
    height: 500px;
    padding: 2vw;
    align-items: center;
    flex-flow: column wrap;
}

form {
    background-color: #FDCC0C;
}
/*MEDIA QUERIES*/
  @media screen and (max-width: 600px) {
    header {
        flex-flow: column wrap;
    }

    .hero {
        flex-wrap: wrap;
        gap: 10px;
    }
    .hero-left {
        text-align: center;
    }
    
}